.postCardLeft {
  &__link {
    display: grid;
    grid-template-columns: minmax(120px, 30%) minmax(0, 1fr);
    align-items: stretch;
    color: inherit;
  }

  .postCard__body {
    align-content: center;
    min-height: 100%;
    padding: var(--space-24);
  }

  .postCard__media {
    min-height: 100%;
  }
}
