.postCard {
  &__date {
    color: var(--color-text-secondary);
    font-family: var(--font-ui);
    font-size: var(--font-size-caption);
    line-height: 1.2;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    color: var(--color-text-primary);
    font-size: var(--font-size-h2);
    line-height: 1.5;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__excerpt {
    display: -webkit-box;
    overflow: hidden;
    color: var(--color-text-secondary);
    font-size: var(--font-size-body);
    line-height: 1.7;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__category {
    color: var(--color-text-secondary);
    font-family: var(--font-ui);
    font-size: var(--font-size-caption);
    line-height: 1.2;
  }
}
