@use "./layout" as *;

@mixin font-size-title {
    font-size: var(--font-size-title-sm);

    @include layout-lg {
        font-size: var(--font-size-title-lg);
    }
}

@mixin font-size-h1 {
    font-size: var(--font-size-h1-sm);

    @include layout-lg {
        font-size: var(--font-size-h1-lg);
    }
}

@mixin font-size-h2 {
    font-size: var(--font-size-h2-sm);

    @include layout-lg {
        font-size: var(--font-size-h2-lg);
    }
}

@mixin font-size-h3 {
    font-size: var(--font-size-h3-sm);

    @include layout-lg {
        font-size: var(--font-size-h3-lg);
    }
}

@mixin font-size-body {
    font-size: var(--font-size-body-sm);

    @include layout-lg {
        font-size: var(--font-size-body-lg);
    }
}

@mixin font-size-ui {
    font-size: var(--font-size-ui-sm);

    @include layout-lg {
        font-size: var(--font-size-ui-lg);
    }
}

@mixin font-size-caption {
    font-size: var(--font-size-caption-sm);

    @include layout-lg {
        font-size: var(--font-size-caption-lg);
    }
}

@mixin font-size-score-hero-int {
    font-size: var(--font-size-score-hero-int-sm);

    @include layout-lg {
        font-size: var(--font-size-score-hero-int-lg);
    }
}

@mixin font-size-score-hero-decimal {
    font-size: var(--font-size-score-hero-decimal-sm);

    @include layout-lg {
        font-size: var(--font-size-score-hero-decimal-lg);
    }
}