.c-score {
  position: relative;
  color: var(--color-text-inverse);
  font-style: italic;
  text-align: center;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 0;
    margin: auto;
    clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    background-color: var(--color-score-border);
    content: '';
  }

  &::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 90%;
    height: 90%;
    margin: auto;
    clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    background-color: var(--color-score-bg);
    content: '';
  }

  &__small {
    width: 44px;
    height: 52px;
    font-size: 16px;
  }

  &__medium {
    width: 62px;
    height: 72px;
    font-size: 22px;
  }

  &__large {
    width: 96px;
    height: 105px;
    font-size: 30px;
  }

  &__count {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}
