.score {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  background-color: var(--color-score-border);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  filter: drop-shadow(0 0 10px var(--color-score-border));

  &__bg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: var(--color-score-bg);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  &__value {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    font-family: var(--font-ui);
    font-style: italic;
    color: var(--color-text-inverse);
  }
}
