.p-streaming-vod {
  margin-top: var(--space-32);

  &__heading {
    font-size: var(--font-size-h3-sp);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--space-16);
    color: var(--color-text-primary);
    line-height: 1.5;
  }

  &__list {
    list-style: none;
    padding: var(--space-0);
    margin: var(--space-0);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--space-16);
  }
}
