.p-postImageOverlay {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 576px;
  height: 360px;
  border-radius: 6px;
  background: var(--color-text-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 640px) {
    width: 100%;
  }

  .c-category {
    transform: skew(0);
  }

  .c-heading__post {
    color: var(--color-text-inverse);
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px #000;
  }
}
