@use "@/styles/scss/global/mixin/layout.scss" as *;

.post-hero-score {
  display: flex;
  gap: var(--space-12);
  font-family: var(--font-accent-strong);
}

.post-hero-score__value {
  display: flex;
}

.post-hero-score__comment {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  letter-spacing: 0.03em;
  text-shadow: -1px 1px 2px rgba(var(--color-black-rgb), 0.2);
  padding-left: var(--space-12);
  margin: var(--space-0);
}
