.post-hero-score {
  display: flex;
  gap: var(--space-12);
  font-family: var(--font-accent-strong);
}

.post-hero-score__value {
  display: flex;
}

.post-hero-score__comment {
  font-size: var(--font-size-h2-sp);
  color: var(--color-text-body);
  letter-spacing: 0.03em;
  padding-left: var(--space-12);
  margin: var(--space-0);

  @media (min-width: var(--breakpoint-md)) {
    font-size: var(--font-size-h2-pc);
  }
}
