// $white, $category are injected via vite additionalData
@use '../../global/mixin/fontSize' as *;

.c-category {
  text-align: center;
  display: inline-block;
  font-weight: 500;
  color: $white;
  background: $category;
  padding: 9px 22px;
  transform: skewX(-8deg);
  @include font-size-sm;
  & a {
    color: $white;
  }
  &__small {
    font-size: 0.75rem; /* 12px */
    line-height: 0.75rem;
    padding: 9px 20px;
  }
}
