.c-category {
  display: inline-block;
  padding: 9px 22px;
  transform: skewX(-8deg);
  background: var(--color-category);
  color: var(--color-text-inverse);
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  text-align: center;

  a {
    color: inherit;
  }

  &__small {
    padding: 9px 20px;
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
}
