.u-align-items-center {
  align-items: center;
}

.u-align-items-start {
  align-items: flex-start;
}

.u-align-items-end {
  align-items: flex-end;
}

.u-align-items-stretch {
  align-items: stretch;
}

.u-align-items-baseline {
  align-items: baseline;
}
