.u-justify-content-center {
  justify-content: center;
}

.u-justify-content-start {
  justify-content: flex-start;
}

.u-justify-content-end {
  justify-content: flex-end;
}

.u-justify-content-between {
  justify-content: space-between;
}

.u-justify-content-around {
  justify-content: space-around;
}

.u-justify-content-evenly {
  justify-content: space-evenly;
}
